<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 m-auto">
        <carousel [activeSlide]="activeSlide" [isAnimated]="isCarouselAnimated" [showIndicators]="carouselIndicator"
          [interval]="carouselInterval" noWrap="true" noPause="false">
          <div class="card">
            <div class="card-body welcome-card">
              <slide>
                <div class="text-center">
                  <img src="../../../assets/img/nature.png" alt="pysch-icon"
                    class="animate__animated animate__slideInDown">
                  <h1 class="text-center animate__animated animate__slideInUp mt-3">Pysch</h1>
                  <p class="text-center animate__animated animate__slideInUp">Some description for the app</p>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Ethics Slide</h1>
                  <p class="text-center ">Information about the study</p>
                </div>
              </slide>
              <slide>
                <div class=" animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Consent Form</h1>
                  <h1> RESEARCH PARTICIPANT CONSENT FORM</h1>

                  <p>
                    This study will be performed under the supervision of <span class="custom-bold">Dr Changiz
                      Mohiyeddini</span> at the <span class="custom-bold">School of Human
                      and Life Sciences, Roehampton University.</span> It has been approved by Roehampton University’s
                    Ethics
                    Board. This study is part of a research protocol, and is not intended to provide a clinical
                    examination of your body or a clinical evaluation in any respect.
                    <br>
                    Consent Statement:
                    <br>
                    <span class="custom-bold">a.</span> I have read and received a copy of this consent form and have
                    been given the opportunity to ask
                    questions. You have given me: (a) an explanation of the procedures to be followed in the project,
                    including an identification of those, which are experimental; and (b) answers to inquiries I have
                    made.
                    <br>
                    <span class="custom-bold">b.</span> I understand that there may be no direct benefit to me from my
                    participation in this study as
                    described above.
                    <br>
                    <span class="custom-bold">c.</span> I understand that my participation will not cost me anything
                    other than the time and effort
                    involved.
                    <br>
                    <span class="custom-bold">d.</span> I understand that all personal data relating to volunteers are
                    held and processed in the
                    strictest confidence, in accordance with the Data Protection Act (1998).
                    <br>
                    <span class="custom-bold">e.</span> I understand that by signing this agreement, I do not waive any
                    legal rights or release
                    Roehampton University, its agents, or you from liability for negligence.
                    <br>
                    <span class="custom-bold">f.</span> I understand that I am free to withdraw from the study at any
                    time without needing to justify my
                    decision.
                    <br>
                    <span class="custom-bold">g.</span> I understand that this study is entirely anonymous. My identity
                    will not be recorded or passed on
                    to anyone not involved in this study, and will be protected in the publication of any findings.
                    Researchers involved in the study will be unaware of any links between my identity and the data
                    collected and accordingly no individual feedback will be given.
                    <br>
                    <span class="custom-bold">h.</span> I understand that it is envisaged that the results – which will
                    be entirely anonymous – will be
                    submitted for publication or conference presentations
                    <br>
                    <span class="custom-bold"> i.</span> I confirm that I have read and understood the above and freely
                    consent to participating in this
                    study. I have been given adequate time to consider my participation and agree to comply with the
                    instructions and restrictions of the study.

                    <br>
                    If you require advice, information or reassurance about a technical or health related matter, or
                    have a concern about any other aspect of your participation, please raise this with the principal
                    investigator,
                    <span class="custom-bold">
                      Dr Changiz Mohiyeddini
                      <br>
                      email: c.mohiyeddini@roehampton.ac.uk, Telephone: 020-8392 3616.
                    </span>
                    <br>
                    Alternatively please contact
                    <br>
                    <span class="custom-bold">
                      Dr Jolanta Opacka-Juffry
                      <br>
                      email: j.opacka_juffry@roehampton.ac.uk, Telephone: 020-8392 3563
                    </span>
                    <br>
                    or Dean of the School of Human and Life Sciences
                    <br>
                    <span class="custom-bold">Mr Michael Barham
                      <br>
                      email: M.Barham@roehampton.ac.uk, Telephone: 020-8392 3617
                    </span>
                    <br>
                    If you are a student and feel that you need counselling support after this experiment, please
                    contact the student counselling service, Telephone: 020 8392 3636
                  </p>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Fixed Demographic Questions</h1>
                  <p class="text-center">Demographic questions here</p>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Random Demographic Questions</h1>
                  <p class="text-center">Demographic questions here</p>
                </div>
              </slide>
              <slide>
                <div class="nimate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Game Instructions</h1>
                  Swipe down or Pull images which have the background color
                  <span class="custom-bold">
                    green
                  </span>
                  towards you.
                  <br>
                  Swipe up or Push images which have the background color
                  <span class="custom-bold">
                    red
                  </span>
                  away from you.
                  <br>
                  Swipe left or Swipe right images which have the background color
                  <span class="custom-bold">
                    yellow
                  </span>
                  <br>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Game Trial</h1>
                  <game-trial *ngIf="!displayTrialResult" (trialEnd)="showTrialResults($event)"></game-trial>
                  <div *ngIf="displayTrialResult" class="table-responsive">
                    <h2 class="text-center">Game Results</h2>
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Gesture</th>
                          <th scope="col">Best Response Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Swipe Up</td>
                          <td>{{ userResponseTimes.swipeUp | number: '0.0-0' }} ms</td>
                        </tr>
                        <tr>
                          <td>Swipe Down</td>
                          <td>{{ userResponseTimes.swipeDown | number: '0.0-0' }} ms</td>
                        </tr>
                        <tr>
                          <td>Swipe Sideways</td>
                          <td>{{ userResponseTimes.swipeSide | number: '0.0-0' }} ms</td>
                        </tr>
                      </tbody>
                    </table>
                    <h3 class="text-center mt-2 text-info">You have successfully completed setup and training. Click on continue to begin playing!</h3>
                  </div>
                </div>
              </slide>
            </div>
          </div>
        </carousel>
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" class="animate__animated animate__slideInUp" *ngIf="showContinue"
          (click)="nextSlide()">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
