<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 m-auto">
        <carousel [activeSlide]="activeSlide" [isAnimated]="isCarouselAnimated" [showIndicators]="carouselIndicator"
          [interval]="carouselInterval" noWrap="true" noPause="false">
          <div class="card">
            <div class="card-body welcome-card">
              <slide>
                <div class="text-center">
                  <img src="../../../assets/img/nature.png" alt="pysch-icon"
                    class="animate__animated animate__slideInDown">
                  <h1 class="text-center animate__animated animate__slideInUp mt-3">Pysch</h1>
                  <p class="text-center animate__animated animate__slideInUp">Some description for the app</p>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Ethics Slide</h1>
                  <p class="text-center ">Information about the study</p>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Consent Form</h1>
                  <p class="text-center ">Show Form here</p>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Fixed Demographic Questions</h1>
                  <p class="text-center">Demographic questions here</p>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Random Demographic Questions</h1>
                  <p class="text-center">Demographic questions here</p>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Game Instructions</h1>
                  <p class="text-center">Demo video and instructions here</p>
                </div>
              </slide>
              <slide>
                <div class="text-center animate__animated animate__fadeIn">
                  <h1 class="text-center  mt-3">Game Trial</h1>
                  <game-trial *ngIf="!displayTrialResult" (trialEnd)="showTrialResults($event)"></game-trial>
                  <div *ngIf="displayTrialResult" class="table-responsive">
                    <h2 class="text-center">Game Results</h2>
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Gesture</th>
                          <th scope="col">Best Response Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Swipe Up</td>
                          <td>{{ userResponseTimes.swipeUp | number: '0.0-0' }} ms</td>
                        </tr>
                        <tr>
                          <td>Swipe Down</td>
                          <td>{{ userResponseTimes.swipeDown | number: '0.0-0' }} ms</td>
                        </tr>
                        <tr>
                          <td>Swipe Sideways</td>
                          <td>{{ userResponseTimes.swipeSide | number: '0.0-0' }} ms</td>
                        </tr>
                      </tbody>
                    </table>
                    <h3 class="text-center mt-2 text-info">You have successfully completed setup and training. Click on continue to begin playing!</h3>
                  </div>
                </div>
              </slide>
            </div>
          </div>
        </carousel>
        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" class="animate__animated animate__slideInUp" *ngIf="showContinue"
          (click)="nextSlide()">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
