<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 m-auto">
                <div class="card">
                    <div class="carousal-inner card-body goodbye-card">
                        <div class="text-center">
                            <p>
                                Thank you for playing <span class="custom-bold">Psych!</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>