/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.fab {
    position: fixed !important;
    right: 2rem;
    bottom: 5rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:focus {
  outline: none;
}

/* Zooming entrances */
@-webkit-keyframes zoomIn {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
      -webkit-transform: scale3d(1.5, 1.5, 1.5);
      transform: scale3d(1.5, 1.5, 1.5);
  }
}

@keyframes zoomIn {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
      -webkit-transform: scale3d(1.5, 1.5, 1.5);
      transform: scale3d(1.5, 1.5, 1.5);
  }
}

.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

